<html>
<head>


  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"    rel="stylesheet">
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  rel="stylesheet">

  <title>IdeaBox</title>


</head>
<body>
<h1>IdeaBox</h1>

<!--each_with_index(idea)-->
<!--returns-->
<!--idea-->
<!--id-->


<ul>
  <% ideas.each_with_index do |idea, id| %>
      <li>
        <p class="bg-primary"><%= idea.title %> (<%= id %>)<br/></p>
      <p class="bg-success"> <%= idea.description %><p/>
        <a href="/<%= id %>/edit">Edit</a>
        <form action="/<%= id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete"/>
        </form>
      </li>
  <% end %>
</ul>


<form action='/' method='POST'>
  <p>
    Your Idea:
  </p>
  <input type='text' name='idea_title'/><br/>
  <textarea name='idea_description'></textarea><br/>
  <input type='submit'/>
</form>
</body>
</html>